# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Local System Files (i.e. cache, logs, etc.) #
/administrator/cache
/cache
/logs
/tmp
/configuration.php
/.htaccess
/web.config

# Test Related Files #
/phpunit.xml
/tests/system/webdriver/tests/logs/

# phpDocumentor Logs #
phpdoc-*

# Patch Tester
administrator/components/com_patchtester/
administrator/templates/hathor/html/com_patchtester
components/com_patchtester/

# Database
libraries/joomla/database/Dump20140412.sql

# SobiPro temp files
components/com_sobipro/var/

# PLIGG
#
# COMMON ELEMENTS
#

# Windows image file caches
pligg/Thumbs.db
pligg/ehthumbs.db

# Folder config file
pligg/Desktop.ini

# Recycle Bin used on file shares
pligg/$RECYCLE.BIN/

# Mac crap
pligg/.DS_Store

#
# PLIGG ELEMENTS
#

# Uploaded Avatars
pligg/avatars/groups_uploaded/*.jpg
pligg/avatars/groups_uploaded/*.png
pligg/avatars/groups_uploaded/*.gif
pligg/avatars/user_uploaded/*.jpg
pligg/avatars/user_uploaded/*.png
pligg/avatars/user_uploaded/*.gif

# Renamed .default Pligg files
pligg/.htaccess
pligg/languages/*.conf
pligg/libs/dbconnect.php
pligg/logs/
pligg/settings.php


# Upload module attachments
pligg/modules/upload/attachments/*.jpg
pligg/modules/upload/attachments/*.png
pligg/modules/upload/attachments/*.gif
pligg/modules/upload/attachments/thumbs/*.jpg
pligg/modules/upload/attachments/thumbs/*.png
pligg/modules/upload/attachments/thumbs/*.gif


# All .log files
*.log
*.db