<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2013-12-29T22:38:07Z</date>
		<key>actualSize</key>
		<integer>44</integer>
		<key>attributeModDate</key>
		<date>2013-12-29T22:38:07Z</date>
		<key>createDate</key>
		<date>2011-08-15T06:25:09Z</date>
		<key>creationDate</key>
		<date>2014-01-30T19:53:14Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>1219C725-61B0-4537-85D7-BEE7C32F16A6</string>
		<key>lastModifiedDate</key>
		<date>2011-08-15T06:25:09Z</date>
		<key>originalPath</key>
		<string>/Users/RichardClark/Sites/E/modules/mod_sobiProSearch_RC/tmpl/index.html</string>
		<key>originalSize</key>
		<integer>44</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>4ECBAEF9-320C-44C8-A579-861AF32CEDCA</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
